@use '../abstracts' as *;

ul {
    width: 50vw;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    li {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        button {
            @include click-elements-style;
            @include border-radius(10px);
            border: none;
            font-size: $main-font-size;
            margin-left: 10px;
            width: 30px;
            height: 30px;
        }
    }
}