// _library.scss
/* palette: https://coolors.co/0081a7-00afb9-fdfcdc-fed9b7-f07167 */
$font-color: #f4f1de;
$hover-color: #81b29a ;
$background-color: #3d405b;
$header-shadow: #f2cc8f;
$primary-color: #e07a5f;